<h1>Create snippet</h1>
<form class="row g-3" method="post" action="./snippets/create">
  <div class="col-md-12">
    <label class="form-label" for="snippetTextarea">
      Code snippet
    </label>
    <textarea type="text" class="form-control" id="snippetTextarea" name="snippettext"
      placeholder="Enter a new snippet here" required="required" rows="10" autofocus="autofocus"></textarea>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Create</button>
  </div>
</form>