<h1>Create issue</h1>
<form class="row g-3" method="post" action="./issues/create">
  <div class="col-md-12">
    <label class="form-label" for="issueTextarea">
      Code issue
    </label>
    <textarea type="text" class="form-control" id="issueTextarea" name="issuetext"
      placeholder="Enter a new issue here" required="required" rows="10" autofocus="autofocus"></textarea>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Create</button>
  </div>
</form>