<h1>Delete issue</h1>
<form class="row g-3" method="post" action="./issues/<%= viewData?.id %>/delete">
  <input type="hidden" name="id" value="<%= viewData?.id %>" />
  <div class="col-md-12">
    <label class="form-label" for="issueTextarea">
      Issue
    </label>
    <textarea type="text" class="form-control" id="issueTextarea" rows="10"
      disabled><%= viewData?.issuetext %></textarea>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary" autofocus="autofocus">Delete</button>
  </div>
</form>