<h1>Update issue</h1>
<form class="row g-3" method="post" action="./issues/<%= viewData?.id %>/update">
  <div class="col-md-12">
    <label class="form-label" for="issueTextarea">
      Issue
    </label>
    <textarea type="text" class="form-control" id="issueTextarea" name="issuetext"
      placeholder="Update issue here" required="required" rows="10"
      autofocus="autofocus"><%= viewData?.issuetext %></textarea>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Update</button>
  </div>
</form>