<h1>Snippets</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Code snippet</th>
      <th>Author</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% if (viewData?.snippets?.length) { %>
      <% for (const snippet of viewData.snippets) { %>
        <tr>
          <td class="w-100" id="snippettext-area">
            <%= snippet.snippettext %>
          </td>
          <td>
            <%= snippet.author %>
          </td>
          <td class="text-nowrap">
            <% if (typeof user !== 'undefined' && user === snippet.author) { %>
              <a class="btn btn-secondary" href="./snippets/<%= snippet.id %>/update" role="button">Update</a>
              <a class="btn btn-secondary" href="./snippets/<%= snippet.id %>/delete" role="button">Delete</a>
            <% } %>
          </td>
        </tr>
      <% } %>
    <% } else { %>
      <tr>
        <td colspan="3" class="text-center text-danger">
          There are no snippets to display
        </td>
      </tr>
    <% } %>
  </tbody>
</table>