<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">
      B2 - Realtime Web Application
    </h1>
    <br>
    <div>
      <a class="btn btn-primary" href="./issues" role="button">
        Issues
      </a>
    </div>
  </div>
</div>
<br>
