<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">
      B1 - CRUD
    </h1>
    <br>
    <div>
      <a class="btn btn-primary" href="./issues" role="button">
        View all issues
      </a>   
      <% if (typeof user==='undefined' ) { %>
        <a class="btn btn-primary" href="./users/login" role="button">
          Log in
        </a>
      <% } %>
    </div>
  </div>
</div>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <h2>The three most recently added issues:</h2>
    </tr>
  </thead>
  <tbody>
    <% if (viewData?.issues?.length) { %>
      <% let counter = 0 %>
      <% for (const issue of viewData.issues.reverse()) { %>
        <% if (counter === 3) break %>
        <tr>
          <td class="w-100" id="issuetext-area">
            <%= issue.issuetext %>
          </td>
          <td>
            <a class="btn btn-primary" href="./issues" role="button">
              View all issues
            </a>
          </td>
        </tr>
        <% counter++ %>
      <% } %>
    <% } else { %>
      <tr>
        <td colspan="3" class="text-center text-danger">
          There are no issues to display
        </td>
      </tr>
    <% } %>
  </tbody>
</table>
