<h1>Log out</h1>
<div>
  <p>
    Are you sure you want to log out?
  </p>
  <form method="post" action="./users/logout">
      <button type="submit" class="btn btn-primary">Yes, log out</button>
      <a class="btn btn-secondary" href="./snippets" role="button">
        No, stay logged in
      </a>
  </form>
</div>